@media (min-width: 625px) and (max-width: 815px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 550px) and (max-width: 625px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .lists a {
    font-size: 15px;
  }
  .left {
    width: 70%;
  }
  .right {
    margin-left: 20px;
  }
}
@media (min-width: 0px) and (max-width: 550px) {
  .ul {
    flex-direction: column;
    /* transition: all 0.5s ease-out; */
  }
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .lists a {
    font-size: 15px;
  }
  .left {
    width: 70%;
  }
  .right {
    margin-left: 0px;
    width: 30%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .h-nav-resp {
    height: 48px;
  }
  .navbar .h-nav-resp {
    display: none;
    transition: all 0.5s;
  }
  .v-class-resp {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
